<div id="buttons">
    @for(number of arraybotoes; track $index){
        <button (click)="sendTecla(number)">{{number}}</button>
    }

    <!-- <button (click)="sendTecla('%')">%</button>
    <button (click)="sendTecla('C')">CE</button>
    <button (click)="sendTecla('C')">C</button>
    <button (click)="sendTecla('/')">÷</button>

    <button (click)="sendTecla('1')">1</button>
    <button (click)="sendTecla('2')">2</button>
    <button (click)="sendTecla('3')">3</button>
    <button (click)="sendTecla('+')">+</button>

    <button (click)="sendTecla('4')">4</button>
    <button (click)="sendTecla('5')">5</button>
    <button (click)="sendTecla('6')">6</button>
    <button (click)="sendTecla('-')">-</button>

    <button (click)="sendTecla('7')">7</button>
    <button (click)="sendTecla('8')">8</button>
    <button (click)="sendTecla('9')">9</button>
    <button (click)="sendTecla('*')">X</button>

    <button></button>
    <button (click)="sendTecla('0')">0</button>
    <button (click)="sendTecla('.')">.</button>
    <button (click)="sendTecla('=')">=</button> -->
</div>